/usr/share/seafile-server/seafile.env /etc/seafile/seafile.env
/usr/share/seafile-server/seafile.conf /etc/seafile/seafile.conf
/usr/share/seafile-server/seafile-server.default /etc/default/seafile-server
/usr/share/seafile-server/seahub_settings.py /etc/seafile/seahub_settings.py
/usr/share/seafile-server/gunicorn.conf.py /etc/seafile/gunicorn.conf.py
/usr/share/seafile-server/seahub.default /etc/default/seahub
